.page_content,
.group16,
.group16_text,
.group16_text-title,
.group16_text-text,
.scroll,
.scrolldown,
.btn-scroll {
    
    margin: 0;
    padding: 0;
}

.page_content{
    display: block;
    width: 100%;
}

.group16 {
    display: block;
    position: relative;
    width: 100%;
    height: 880px;
    background: url(../img/background/group16_1.jpg);
    
}

.group16_text {
    display: block;
    position: absolute;
    top: 392px;
    left: 0;
    right: 0;
    text-align: center;
}

h1 {
     font-family: "GothamBold";
     font-size: 152px;
 
}

.group16_text-text{
    margin-top: 85px;
    font-family: "GothamMedium",  sans-serif ;
    font-size: 24px;
    line-height: 51px;
    word-spacing: 20px;
    letter-spacing: 20px;
    color: #11749e;
    text-transform:uppercase;
    font-weight: 600;

}


.btn_scroll {
    display: block;
    width: 68px;
    height: 68px;
    border: 1px solid #ffffff;
    border-radius: 50%
    
}

.scrolldown{
   
    font-family: "OpenSans",sans-serif;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 20px;
}

.link-scroll i {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}


.scroll {
    display: block;
    position: absolute;
    top: 670px;
    right: 0;
    left: 0;
    text-align: center;   
}

.btn_scroll {
    text-align: center;

/*
.scroll{
    display: block;
}


      

.btn-scroll{
    display: block;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    
    
}
  
.btn-scroll i {
    font-size: 20px;
    color: #ffffff;
    padding-top: 24px
}


   
.btn-scroll :hover {
    color: #11749e;
    font-size: 23px
}

.group16 {
   
    
    